<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwspiIeo6anFnFQU03JnjGhqpgQU6QiEg</string>
	<key>GCM_SENDER_ID</key>
	<string>490555682151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-dfb32</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-dfb32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490555682151:ios:7e5398ffeeafe1a97ed3c2</string>
	<key>DATABASE_URL</key>
	<string>https://shoppinglist-dfb32-default-rtdb.firebaseio.com</string>
</dict>
</plist>